
.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 25px;
}
.heading_div
{
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
}
.heading_div2
{
    font-size: 18px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}

.result_para_tag span {
  white-space: pre-line;
}

.copy_right_footer {
  bottom: 0;
  width: 100%;
  background-color: grey;
  position: fixed;
  color: white !important;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 5px 5px rgb(54, 54, 54);
}



canvas {
  border-radius: 20px;
  box-shadow: 5px 5px 5px blue;
  margin-top: 115px;
  border: solid cyan 4px;
}